
@charset "utf-8";
/* CSS Document */

html ,body {
    height: 100%;
    overflow-x: hidden;
    font-family: "FuturaLT","FuturaLT-Bold";
    background: url(../img/bg.jpg);
}


.container{
	background-color: #fff;
}

p{
	padding-top: 10px !important;
}

a{
	color: #ec7a2d;
	text-transform: uppercase;
}

.top-nav{
    background-color: #ecf0f1;
    padding: 5px;

}


/*Livechat*/

.livechat{
	padding: 5px 37px;
	background-color: #8dbf14;
	margin-top: 20px;
	width: 100%;
	margin-left: -1px;
	color: white;
	font-size: 40px;
	text-transform: uppercase;
	border-radius: 11px;
}

.livechat a {
	text-transform: uppercase;
	color: white !important;
	text-decoration: none !important;
}


.livechat a:hover {
	text-transform: uppercase;
	color: #476107 !important;
	text-decoration: none !important;

}

/* Language */

.languageTrans {
	background: #326cb5;
	width: 176px;
	border-radius: 3px;
}

.languageTrans span a {
	text-decoration: none;
	color: #000;
	font-size: 11px;
}

.btn_lang button:active{
	color: white !important;
	background-image: -webkit-linear-gradient(top, #b2d348 48%, #97b23a 25%) !important;
}


/*Search*/

#searchContainer {
	height: 60px;
	color: #000;
	text-align: left;
	margin-top: -4px;
}





/*Button Dropdown*/

.btn_2 {
	padding: 5px 12px !important;
	width: 200px !important;
}


.drop_2{
	width: 90% !important;
	margin-left: 14px !important;
}

.btn-xs_search{
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	background-color: #3071a9;
	text-shadow: none !important;
	color: white;
	margin-bottom: 2px;
	border-color: transparent !important;
}



/* MAIN NAVIGATION/MENU*/

#mainNav a {
	color: #fff;
}

#mainNav #login {
	background-image: -webkit-linear-gradient(top, #ec7a2d 88%, #d76a21 25%) !important;
	margin-top: 5px;
	padding: 10px;
	border-radius: 4px;
}

#mainNav .dropdown-menu li a:hover {
	background: #98c018;
}

#mainNav, #mainNav .navbar-nav>.open>a, #mainNav .dropdown-menu {
	background-image: -webkit-linear-gradient(top, #194b8b 88%, #164075 25%) !important;

}

.logo_sec{
	padding: 1% 2% 1% 1%;

}

.navbar-nav>li {
	float: left;
	padding: 0px 35px 0px 30px;
	border-right: 1px solid #164075;

}	

.navbar-default{
	margin-left: -16px;
	margin-right: -16px;
	border-radius: 0px !important;
}


/* title and date */

.this-date{
    font-size: 1em;
    padding: 4px 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;                                           
    color: rgb(151, 194, 9);
    width: 90%;
}                           

.this-date{
	padding-top: -1px !important;

}

/*Slider*/

.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
	margin-top: -20px;
	margin-left: -15px;
	margin-right: -15px;
}

.carousel h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;   
}


/*Carousel Ad*/

.left-text{
	text-align: left;
	padding-left: 2px !important;
}

.carousel_small {
display: block;
position: relative;
-webkit-transform: translateZ(0);
margin: 5px auto;
font-size: 0;
padding: 0px;
border-radius: 6px;
height: 140px;
-webkit-overflow-scrolling: touch; /* for tablets */
}

.touch .carousel_small {
overflow: auto;
}

.carousel_small:before, .carousel_small:after {
content: '';
opacity: 0;
position: absolute;
top: 0;
bottom: 0;
z-index: 2;
width: 100px;
text-align: center;
font-size: 60px;
line-height: 142px;
font-family: arial;
color: #fff;
font-weight: bold;
pointer-events: none;
-webkit-transition: 0.2s ease-out;
transition: 0.2s ease-out;
}

.carousel_small:before {
content: '\2039';
left: 0;
text-indent: -10px;
}

.carousel_small:after {
content: '\203A';
right: 0;
text-indent: -10px;
}

.carousel_small.right:after, .carousel_small.left:before {
opacity: 1;
}

.carousel_small.right:after {
right: 8px;
text-indent: -10px;
}

.carousel_small.left:before {
left: 8px;
text-indent: -10px;
}

.carousel_small > a {
position: absolute;
margin: 0;
top: 0;
bottom: 0;
color: #CCC;
font-size: 1.5em;
-webkit-transition: 0.1s;
transition: 0.1s;
}

.carousel_small > a:hover {
color: #FFF;
}

.carousel_small > a.prev {
left: -20px;
}

.carousel_small > a.next {
right: -20px;
}

.carousel_small > .indicator {
pointer-events: none;
position: absolute;
z-index: 4;
bottom: 0;
left: 0;
background: #eeeeee;
height: 4px;
border-radius: 10px;
opacity: 0;
-webkit-transition: opacity 0.2s, bottom 0.2s;
transition: opacity 0.2s, bottom 0.2s;
}

.carousel_small:hover > .indicator {
opacity: 1;
bottom: -10px;
}

.carousel_small > .wrap {
overflow: hidden;
border-radius: 5px;
}

.carousel_small > .wrap > ul {
list-style: none;
white-space: nowrap;
height: 180px;
}

.carousel_small > .wrap > ul > li {
display: inline-block;
vertical-align: middle;
height: 100%;
margin: 0 0 0 20px;
position: relative;
overflow: hidden;
-webkit-transition: 0.25s ease-out;
transition: 0.25s ease-out;
}

.carousel_small > .wrap > ul > li > img {
display: block;
height: 70%;
margin: auto;
vertical-align: bottom;
position: relative;
z-index: 1;
border-radius: 4px;
-webkit-transition: 1s ease;
transition: 1s ease;
}

/*Nav2*/

.navbar_two {
position: relative;
min-height: 100px;
margin-bottom: 20px;
border: 1px solid transparent;
}

.navbar-inverse_two {
	background-image: -webkit-linear-gradient(top, #194b8b 48%, #164075 25%) !important;
}

.navbar-nav_two p {
	color: #fff !important;
	text-align: center;
	margin-top: 3px;

}


.navbar-nav_two >  li {
	float: left;
	width: 208px;
}

.navbar-inverse_two .navbar-nav_two > li > a:hover {
	color: white !important;
	background-image: -webkit-linear-gradient(top, #b2d348 48%, #97b23a 25%) !important;
	margin-left: -15px;
	margin-right: -24px;
}


/*Small Carousel*/

#redhdr {

	padding:1px;
	background: #fce4de; /* Old browsers */
	background: -moz-linear-gradient(top, #fce4de 0%, #ed6344 40%, #c12205 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fce4de), color-stop(40%,#ed6344), color-stop(100%,#c12205)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fce4de 0%,#ed6344 40%,#c12205 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fce4de 0%,#ed6344 40%,#c12205 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fce4de 0%,#ed6344 40%,#c12205 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fce4de 0%,#ed6344 40%,#c12205 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce4de', endColorstr='#c12205',GradientType=0 ); /* IE6-9 */

}

#titlehed {
	color:#ffffff;
	text-shadow: 2px 2px #4C4C4C;
	margin-top:5px;
	margin-left:4px;
}


.carousel-indicators_s {
	top: -58px !important;
	margin-left: 20px;

}

.carousel-inner_s {
	position: relative;
	width: 280px;
	overflow: hidden;
	height: 250px;
	margin: 20px 20px -2px !important;
}


/*Ranking*/

#ranking_star{
	text-align: center;
	background-color: #113d76;
	padding: 15px;
	color: white;
	text-transform: uppercase;
	margin: -22px -22px 15px;
}

.t_rank{
	background-color: #b2d348;
	margin: 10px -15px 0px;
	padding: 6px;
}

.t_rank_2{
	background-color: black;
	margin: 10px -22px;
	padding: 20px;
	background-image: -webkit-linear-gradient(top, #333333 28%, #000 77%) !important;
	color: white;
}

.t_rank_2 table tr td{
	border-bottom: 1px solid #ccc;
	padding: 10px 0px;
	margin: 0 -22px;

}


/*Rating*/

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
   color: yellow;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: yellow;
}



/*Box*/

.box_header{
	background-image: -webkit-linear-gradient(top, #194b8b 88%, #164075 25%) !important;
	border-radius: 4px 4px 0 0;
	padding: 10px;
	color: #edb83f;
	font-size: 16px;
	text-transform: uppercase;
}

.boxing{
	border: 1px solid #ccc;
	padding: 22px;
}

.boxing a {
	text-decoration: underline;
}


/*Gallery*/

.news_hub{
	width: 1050px; 
	padding-top: 20px;
	background-color: #ecf0f1;
}

.gal{
	margin: -2px auto !important;
	font-size: 0;
	padding: 20px;
	border-radius: 0px !important;
	height: 164px !important;
	border: 1px solid #ccc;
}


.gal_hub {
	width: 684px;
}
.box_header_orange{
	background-image: -webkit-linear-gradient(top, #ef8b46 88%, #ee711a 25%) !important;
	border-radius: 4px 4px 0 0;
	padding: 10px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	text-align: left;
}

.div1, .div2 {width:700px;margin:0 auto;}
		.div1 {margin-top:30px;margin-bottom:60px;text-align:center;line-height:20px;}
		.div1 P {font-size:18px;}
		.div1 a, .div2 a {color:#07C; }
		.div1 a {margin:0 8px;}
		.div1 a.current {color:black; text-decoration:none;}
		.div2 {margin-top:70px;}
		.div2 li {padding-top:6px;padding-bottom:6px;}
		.green {color:Green;}
		.cn {font-family: "Courier New", Georgia;}
		#status {display:inline-block; margin-left:26px;line-height:50px;height:50px;vertical-align:middle;}

		.code
		{
		    border: dashed 1px #BCBCCB; padding:8px 12px; background-color: #F3F3F9; white-space:pre; font-family:"Courier New", Georgia;
		    font-size:12px; margin:6px 0;overflow:auto; 
		}

.box_header_green{
	background-image: -webkit-linear-gradient(top, #b2d348 88%, #a8c940 25%) !important;
	border-radius: 4px 4px 0 0;
	padding: 10px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	text-align: left;
}

.about {
margin: -2px auto !important;
font-size: 0;
padding: 20px;
border-radius: 0px !important;
border: 1px solid #ccc;}

.about {
margin: -2px auto !important;
font-size: 0;
padding: 20px;
border-radius: 0px !important;
border: 1px solid #ccc;}


.sponsor{
	background-color: #f6f6f6;
	padding: 10px;
}

.sponsor img{
	padding-left: 20px;
}

.cal{
	padding: 10px 10px;
	border: 1px solid #ccc;
	border:1px solid #CCC;
	font-size: 12px;
	background-color: #ecf0f1;
}

#side_bar {
	float: right;
	width: 330px;
	margin-left: 30px
}

#side_bar .side_bar-img {
float: left;
padding-right: 10px;
}

/*Footer*/

footer{
     padding-top: 40px;
     padding-bottom: 20px !important;
     background-color: rgb(0, 102, 153);
     color: #fff;                 
}

footer h6{
	text-align: center;
}

footer h5 {
	text-align: -webkit-right;
	padding-right: 46px;
	color: #fff;
}               

.f-footer{                                                  
     border-bottom: 1px dotted rgb(13, 157, 228);              
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #006699;
}  
.f-footer .col-md-9 .col-md-3{                                                  
     border-right: 1px dotted rgb(13, 157, 228);
     height: 180px;
     margin-bottom: 30px;
}          
.f-footer h4{                
    color: #fff;
    font-size: 1.3em;
}          

.f-footer ul{  
    color:#fff;                
    list-style: none;
    margin: 0;
    padding: 0;                   
}               
.f-footer ul li{                                     
}               
.f-footer ul li a{
    font-size: .9em;            
    color:#fff;                         
}              