<head>

<style type="text/css">
  .lang {
    margin-top: 4px;
}

  .btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
</style>

</head>
<body>
<div class="btn-group lang">

            <a href="http://www.fcbarcelona.cat" class="btn btn-default btn-small hidden-sm" lang="ca" onclick="_gaq.push([&quot;_link&quot;,&quot;http://www.fcbarcelona.cat&quot;]); return false;"><span class="visuallyhidden"> Change language to </span>Català</a><a href="http://www.fcbarcelona.es" class="btn btn-default btn-small hidden-sm" lang="es" onclick="_gaq.push([&quot;_link&quot;,&quot;http://www.fcbarcelona.es&quot;]); return false;"><span class="visuallyhidden"> Change language to </span>Español</a>

            <button type="button" class="btn btn-default btn-small dropdown-toggle current" data-toggle="dropdown">
              <span><i aria-hidden="true" class="icon-lang"></i></span>
              <span class="visuallyhidden">Other languages</span>
              <span class="visible-desktop" aria-hidden="true">English</span>
              <span class="visuallyhidden hide-if-open">(Open language selector)</span>
              <span class="visuallyhidden show-if-open">(Close language selector)</span>
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu pull-right"><li class="visible-sm"><a href="http://www.fcbarcelona.cat" lang="ca" onclick="_gaq.push([&quot;_link&quot;,&quot;http://www.fcbarcelona.cat&quot;]); return false;">Català</a></li><li class="visible-sm"><a href="http://www.fcbarcelona.es" lang="es" onclick="_gaq.push([&quot;_link&quot;,&quot;http://www.fcbarcelona.es&quot;]); return false;">Español</a></li><li><a href="http://www.fcbarcelona.com" class="current" lang="en">English</a></li><li><a href="http://www.fcbarcelona.com/ar" lang="ar" onclick="_gaq.push([&quot;_link&quot;,&quot;http://www.fcbarcelona.com/ar&quot;]); return false;">العربية</a></li><li><a href="http://www.fcbarcelona.com/fr" lang="fr" onclick="_gaq.push([&quot;_link&quot;,&quot;http://www.fcbarcelona.com/fr&quot;]); return false;">Français</a></li><li><a href="http://www.fcbarcelona.jp" lang="ja" onclick="_gaq.push([&quot;_link&quot;,&quot;http://www.fcbarcelona.jp&quot;]); return false;">日本語</a></li><li><a href="http://www.fcbarcelona.co.id" lang="id" onclick="_gaq.push([&quot;_link&quot;,&quot;http://www.fcbarcelona.co.id&quot;]); return false;">Indonesia</a></li><li><a href="http://www.fcbarcelona.com.br" lang="pt">Português</a></li><li><a href="http://fcbarcelona.cn" lang="cn" onclick="_gaq.push([&quot;_link&quot;,&quot;http://fcbarcelona.cn&quot;]); return false;">中文</a></li></ul>
          </div>
</body>